@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-poppins;
        -moz-osx-font-smoothing: grayscale;
        background-color: #17161a;
    }
}

@layer utilities {

    .button-hover{
        transition: all .15s ease 0s;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
    }

    .button-hover:hover {
        transform: translateY(-1.5px);
    }

    .radial-background {
        background: radial-gradient(50% 50% at 50% 50%, #403A62 0%, rgba(36, 33, 50, 0) 100%);
    }

    .background-clip {
        -webkit-background-clip: text;
    }

    .border-color {
        border-image: linear-gradient(153.95deg, #AC88FF 2.05%, #8D87FF 95.95%);
    }

    .button-background {
        background: linear-gradient(180deg, #7569FE 0%, #6559FE 100%);
    }

    .button {
        background: linear-gradient(180deg, #7569FE 0%, #6559FE 100%);
        border-bottom: 1px solid #5559EE;
        box-shadow: 0 2px 0 #656293;
        cursor: pointer;
        color: white;
        transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out;
        transform: translateY(0vw);
        font-weight: 500;
    }

    .button:hover {
        transform: translateY(2px);
        box-shadow: none;
        border-bottom: 0.1rem solid #6559FE;
    }

    .active {
        position: absolute;
        background: linear-gradient(180deg, #7569FE 0%, #6559FE 100%);
        box-shadow: 0 2px 0 #656293;
        color: white;
        padding-top: 5rem;
        padding-bottom: 1rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        left: -0.5rem;
        right: -0.5rem;
        top: -3rem;
    }

    .image-holder {
        top: -1.5vw;
        left: 25vw;
        position: absolute;
        width: 30vw;
    }

    .image {
        width: 25vw;
    }

    .before {
        left: -100vw;
    }

    .after {
        left: 100vw;
    }
}
